.videoclip__name {
    padding-top: 15px;
    width: 1280px;
    padding-bottom: 10px;
    font-size: 24px;
}

.views__information {
    color: grey;
}

.video__info_icons {
    width: fit-content;
}

.videoIcons {
    display: flex;
    margin-left: 1000px;
}

.videoIcons i {
    position: relative;
    color: black;
    font-size: 25px;
    position: relative;
}

.share__icon {
    margin-left: 20px;
}

.videoIcons i:not(:last-child) {
    margin-right: 20px;
}