.sidebar {
    background-color: #008080;
    top: 55px;
    width: 240px;
    height: 1100px;
    position: fixed;
    overflow-y: scroll;
    padding-top: 15px;
}

.divider {
    background-color: #6bc0c0;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}